/* -------- caja que cubre todo el formulario--------- */
#payments {
    background: #ffffff;
    width: 21.5%;
    padding: 2.8em;
    /* margin:auto; */
    /* margin: 20px 0px 30px 550px; */
    margin: 4% 0% 6% 64%;
    /* margin-top: 1.7em;
      margin-right: 30%;
      margin-left: 64%; */
    text-align: left;
    border-radius: 0.6em;
    box-shadow: 0 0 20em rgb(175, 42, 175);
  }
  /* -----------COLOR DE CABECERA Y PADDING--------- */
header {
  background: #876099;
  padding: 20px;
}

/* ----- LETRAS DE CABECERA---- */
.header a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

  /* ------caja de los elementos del formulario------ */
  .grupo_contenido_formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* -------titulo de los inputs el label------- */
  .registro_de_formulario label {
    color: #F8BFED;
    font-size: 1.1em;
    font-weight: 610;
  }
  /* ---------------inputs---------------------- */
  
  .ingreso_datos {
    border: 2px solid #c5c8e9;
    height: 40px;
    background: #c5c8e9;
    font-size: 0.9em;
    font-weight: 6em;
    border-radius: 0.4em;
    color: #000000;
    padding: 0px 20px 0px 0px;
    width: 15em;
    outline: none;
  }
  
  /* --------estilo de boton de validación ------ */
  .buttonValidation {
    background-color: #876099; /* blue */
    border-radius: 0.5em;
    border: 1.5px solid rgb(219, 72, 238);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .buttonValidation:hover {
    background-color: rgb(238, 72, 230);
  }
  
  /* -----------------POPUP PARA LA VENTANA EMERGENTE DE LA VALIDACIÓN--------------- */
  
  /*----- texto que escribe que fue valido o invalido en negrita y más grande------  */
  .validacion {
    margin: 5px 0px;
    font-size: 24px;
    font-weight: 600;
  }
  
  /* --------texto más descriptivo que indica que fue valido o invalido más pequeño  */
  .description {
    color: #222;
    font-size: 15px;
    padding: 5px;
  }
  
  /* ---boton de cerrar popup--- */
  .dismiss-btn {
    margin-top: 15px;
  }
  
  /* ----la caja completa de el popup en toda la ventana---- */
  
  /* ------overlay respuesta correcta----- */
  .overlay {
    background: rgba(255, 209, 209, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transform: translate(0%, 0%) scale(0.5);
    transition: opacity 100ms ease-in-out, transform 1000ms ease-in-out;
  }
  
  .overlay.active {
    visibility: visible;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  }
  
  /* ------el icono de valido ---- */
  .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
  }
  .icon i.fa {
    font-size: 30px;
    color: #34f234;
  }
  
  /* ----------overlay respuesta incorrecta-------- */
  
  .overlay2 {
    background: rgba(255, 209, 209, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transform: translate(0%, 0%) scale(0.5);
    transition: opacity 100ms ease-in-out, transform 1000ms ease-in-out;
  }
  
  .overlay2.active {
    visibility: visible;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  }
  
  /* ------el icono de invalido ---- */
  .icon2 {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #f24134;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
  }
  .icon2 i.fa {
    font-size: 30px;
    color: #f24134;
  }
  
  /* -----solo la caja de validacion el área de su cuadrado ---- */
  .mostrar_validacion {
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 270px;
    /* transition: all 300ms ease-in-out 350ms; */
  }
  
  /* ---boton de OK en el popup ---- */
  .btn-submit {
    /* padding: 0 20px;
      height: 40px;
      line-height: 40px;
      border: none;
      color: #fff;
      background: rgb(42, 78, 175);
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      transition: .3s ease all;*/
    text-align: center;
    padding: 12px 13px;
    background: #173f9c;
    color: #f5f5f5;
    border: 2px solid #0d2661;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    width: 4em;
    margin-top: 0.6em;
  
    /* transition: all 300ms ease-in-out ; */
  }
  
  .btn-submit:hover {
    background: rgb(72, 172, 238);
    /* transition: all 300ms ease-in-out ; */